@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


:root{
    --darkest-color: #0D1321; 
    --primary-color: #1D2D44; 
    --secondary-color: #3E5C76; 
    --third-color: #748CAB;
    --light-color: #F0EBD8; 

}

html{
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container{
    max-width: 1600px;
    margin:0 auto; 
}
.row{
    display: flex; 
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}

h1 {
    color: red; 
    font-size: 2.5rem;
    display: none;
}

.h1{
    font-size: 2rem; 
}
.h2{
    font-size: 1.5rem; 
}
.h3{
    font-size: 1rem; 
}
.h4{
    font-size: .5rem; 
}
.h5{
    font-size: .25rem; 
}
.h6{
    font-size: .20rem; 
}
.paragraph{
    font-size: 1rem;
    font-weight: 400;
}

button {
    padding: 1em; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    color: var(--primary-color);
    transition: .3s ease-in-out;
}
button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--light-color);
    transition: .3s ease-in-out;
}


@media (min-width: 600px){
    .h1{
        font-size: 2.5rem; 
    }
    .h2{
        font-size: 2rem; 
    }
    .h3{
        font-size: 1.5rem; 
    }
    .h4{
        font-size: 1rem; 
    }
    .h5{
        font-size: .5rem; 
    }
    .h6{
        font-size: .25rem; 
    }
    .paragraph{
        font-size: 1.25rem;
        font-weight: 500;
    }
}


header {
    background-color: var(--secondary-color);
    padding: 1rem; 
    min-height: 60px;
    max-width: 100vw;

    .nav-container{

        display: flex;
        flex-direction: column;
        align-items: center;
  
        .logo{
            width: 160px; 
            height: auto; 
        }
        .desktop-nav{
            display: none;
        }
        .nav__list {
            text-transform: uppercase;
            list-style: none;
            margin-top: 4em;
            padding: 0;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
        }
    
        .nav__link{
            color: white; 
            text-decoration: none;
            margin: 0 auto;   
            transition: .3s ease-in-out;
        }
    
        .nav__link--button {
            background-color: var(--light-color);
            color: var(--darkest-color); 
            border-radius: 100px;
            padding: 0.2em .5em; 
        }
    
        .nav__link:hover,
        .nav__link:hover focus{
        opacity: .65; 
        }
    
        .nav__link--button:hover {
            border: var(--light-color) solid 3px;
            background-color: var(--darkest-color); 
            color:var(--light-color);
           
        }
    
        .nav__item{ 
            padding: .5em; 
        }
    
        .nav-toggle {
            cursor: pointer;
            border: 0;
            width: 3em;
            height: 3em;
            padding: 0em;
            margin: .5rem; 
            border-radius: 50%;
            background: var(--secondary-color);
            color: white;
            
            
            position: absolute;
            left: 0;
        }
    
        .nav-toggle:focus,
        .nav-toggle:hover {
        opacity: .75;
        }
    
        .hamburger {
            width: 50%;
            position: relative;
        }
    
        .hamburger,
        .hamburger::before,
        .hamburger::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: white;
        }
    
        .hamburger::before,
        .hamburger::after {
        content: '';
        width: 100%;
        }
    
        .hamburger::before {
            transform: translateY(-6px);
        }
    
        .hamburger::after {
            transform: translateY(3px);
        }
    
        .mobile-nav {
            visibility: hidden;
            height: 0;
            position: absolute;
         
        }
    
        .nav--visible {
            visibility: visible;
            height: auto;
            position: relative;
        } 

      

    }

    @media (min-width: 600px){
        .logo-container{
            .logo{
                width: 400px; 
                height: auto; 
            }
        }   
        
        .nav-toggle{
            display: none;
        }
        .nav-container{
            display: flex;
            flex-direction: row;
          
            .mobile-nav{
                display: none;
            }
            .desktop-nav{
                width: 100%;
                max-height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .nav__list{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                }
            }
        }
        
    }
    
}

main{
    display: flex;
    flex-direction: column;

    .hero-section {
        background-color: var(--primary-color);
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--light-color); 
            .container {
                max-width: 100vw;
                padding: .5rem; 
                display: flex; 
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                button {
                width: 100%; 
                }
                .hero-a , .hero-b {
                    margin-bottom: 2rem;
                }
            }


    }

    .benefits-section{
        background-color: var(--light-color);
        width: 100%;
            .container{
                padding: 2rem; 
                .col{
                    .benefit-icon{
                        width: 100px;
                    }
                }
            }
    }

    .about-section{
        width: 100%;
        padding-bottom: 3rem;
        .container{
            padding: 3px; 
                .col{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        iframe {
                            height: 156px;
                            width: 280px;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                }
        }
    }

    .testimonial-section{
        width: 100%;
        background-color: var(--third-color);
            .container{
                padding: 2rem; 
                color: var(--light-color); 
                .cards-container{
                    .card{
                        background-color: white;
                        color: var(--darkest-color);
                        border-radius: 1rem;
                        margin: .5rem; 
                        padding: 1rem; 
                        width: 250px;
                        min-height: 375px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                        .row{
                            align-items: center;
                            margin-bottom: .5rem;
                                .avatar{
                                    width: 60px;
                                    height: 60px;
                                    margin: .25rem; 
                                    img{
                                        border-radius: 100%;
                                    }
                                }
                                .name-position-container{
                                    padding: 0; 
                                    .paragraph{
                                        margin:0; 
                                    }
                                    .paragraph:first-of-type{
                                        color: var(--secondary-color);
                                        font-weight: 700; 
                                    }
                                }
                        }
                    }
                }
            }
    }

    .contact-section{
        padding: 2rem; 
            .container{
                    .copy-calendly-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .copy-meet-pic{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            p{
                                font-weight: 700;
                            }
                            .calendly-container{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                    
                            }

                        }
                        
                    }
                   
            }
    }

}

@media (min-width: 600px){
    main{
        display: flex;
        align-items: center;
        justify-content: center;

            .hero-section{ 
                .container{
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 2rem 0 4rem 0;
                        .hero-a , .hero-b {
                            width: 45%;
                            max-width: 800px;
                        }
                }
            }

            .benefits-section{
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                        .benefits-cols-container{
                            padding: 2rem; 
                            display: flex;
                            .col{
                                max-width: 400px;
                                padding: 2rem; 
                                justify-content: center;
                                align-items: center;
                                    p{
                                        text-align: center;
                                    }
                            }
                        }
                }
            }  

            .about-section{
                .container{
                    .col{
                        iframe {
                            min-height: 315px;
                             min-width: 560px;
                            width: 62%;
                            height: 60vh;
                        }
                    }
                }
            }

            .testimonial-section{
                display: flex;
                .container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .cards-container{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                            .card{
                                margin: 1rem; 
                                width: 350px;
                            }
                    }
                }
            }

            .contact-section{
                    .container{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            .copy-calendly-container{
                                flex-direction: row;
                                align-items: start;
                                justify-content: flex-start;
                                    .copy-meet-pic{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content:flex-start ;
                                        align-items:self-start;
                                        max-width: 600px;
                                        padding:.25rem; 
                                        p{
                                            font-weight: 700;
                                            font-size: 1.5rem;
                                            color: var(--secondary-color)
                                        }

                                    }
                                
                            }    
                    }
            }

    }
}


